@charset "UTF-8";

.container {
	width: auto;
	max-width: 1000px;
	padding: 0 15px;
	margin-bottom: 100px;
	margin-top: 30px;
}

.realBonmun {
	background-color: rgb(245, 245, 245);
	height: 500px;
	padding: 50px;
	text-align: justify;
	line-height: 2.0;
}

button {
	border-radius: 10px !important;
	display: block !important;
	margin: 20px auto !important;
}

h2 {
	margin-top: 30px;
}

#a1 {
	text-decoration: none;
	color: black;
}