@charset "UTF-8";
.row {
	margin-left: auto !important;
	margin-right: auto !important;
}
.orderby {
	display: flex;
	justify-content: flex-end;
	padding: 15px 15px 0 0;
	color: rgba(0, 0, 0, 0.5);
}

.orderby span {
	padding-right: 10px;
	cursor: pointer;
}

.orderby select {
	border: 0;
	-webkit-appearance: none;
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	width: 107px;
}

.orderby select option {
	border: none;
}

.orderby .select {
	position: relative;
}

.orderby .select::after {
	content: "\f078";
	font-family: FontAwesome;
	color: rgba(0, 0, 0, 0.5);
	position: absolute;
	right: 7px;
	top: 0;
	z-index: 1;
	width: 10%;
	height: 100%;
	pointer-events: none;
}
section {
	margin-left: auto;
	margin-right: auto;
}

.div-title {
    text-align: center;
    margin-bottom: 5px;
    border-top: 1px solid rgba(0,0,0,.1);
}


.filter>option {
	text-align: center;
}

.sc-gGCbJM {
	text-align: left;
}

.reselltitle {
	font-size: 16px;
	font-weight: 900;
	text-align: center;
}
/* 검색결과 */


.jDLBcC {
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	direction: ltr;
	text-align: left;
	color: rgb(33, 33, 33);
	letter-spacing: -0.5px;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font: inherit;
	vertical-align: baseline;
	font-size: 13px;
	display: flex;
}

.hqvdAo {
	margin-right: 20px;
	position: relative;
	display: block;
	color: rgb(247, 47, 51);
}

.hqvdAo::after {
	content: "";
	position: absolute;
	top: 1px;
	right: -10px;
	width: 1px;
	height: 12px;
	border-right: 1px solid rgb(204, 204, 204);
}

.htGBDc {
	margin-right: 20px;
	position: relative;
	display: block;
}

.htGBDc::after {
	content: "";
	position: absolute;
	top: 1px;
	right: -10px;
	width: 1px;
	height: 12px;
	border-right: 1px solid rgb(204, 204, 204);
}

.htGBDc:last-child {
	margin-right: 0px;
}

.htGBDc:last-child::after {
	border-right: 0px;
}

/* shoes */
.jbqBTj {
	padding: 15px 10px;
	height: 80px;
}

.eVmuLh {
	position: relative;
	font-size: 14px;
	padding-bottom: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.jrHpCR {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	height: 20px;
}

.hoDAwD {
	font-size: 16px;
	font-weight: 600;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.hoDAwD::after {
	content: "원";
	font-size: 13px;
	margin-left: 3px;
}

.row {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 3rem!important;
}

.card {
	border: 0;
	cursor: pointer;
}

.shadow-sm {
	box-shadow: none !important;
}

.card-text {
	position: relative;
}

.card-text .none-hover {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 0;
	opacity: 1;
	transition: opacity 0.3s ease 0.3s;
}

.card-text .none-hover {
	font-size: 16px;
}

.tit {
	display: inline-block !important;
	width: 100% !important;
	height: 40px !important;
	font-size: 25px !important;
	padding: 0px 5px !important;
	text-overflow: ellipsis !important;
	overflow:hidden !important;
	white-space:nowrap;
}

.card-text .none-hover .color {
	font-size: 24px;
	font-weight: 400;
}

.card-text .hover {
	opacity: 0;
	text-align: center;
	padding: 10px 0;
	margin-bottom: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.card-text .hover a {
	display: inline-block;
	padding: 8px 24px;
	border-radius: 20px;
	background: #111;
	color: #fff;
}

.card .stretched-link {
	display: none;
}

.card:hover img {
	opacity: 0.8;
	transition: opacity 0.25s ease 0s;
}

.card:hover .stretched-link {
	display: block;
}

.card:hover .card-text .none-hover {
	opacity: 0;
}

.card:hover .card-text .hover {
	opacity: 1;
	transition: opacity 0.3s ease 0.3s;
}

.regArea {
	text-align: center; 
	margin: 20px;
}
.regArea #regButton {
    margin: 20px auto;
    text-decoration: none !important;
    color: black !important;
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 20px;
}

#a1 {
	text-decoration: none;
	color: black;
}

/* paging */
.paging {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 19px;
}

.paging .hide {
	display: block;
	height: 0;
	width: 0;
	font-size: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.paging a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 23px;
	height: 23px;
	padding-top: 2px;
	vertical-align: middle;
	color: #000;
}

.paging a:hover {
	text-decoration: underline;
}

.paging .btn_arr {
	text-decoration: none;
}

.paging .btn_arr {
	color: #444;
}

.paging .on {
	margin: 0 3px;
	padding-top: 0;
	border: 1px solid #ddd;
	border-radius: 30px;
}

.paging .on {
	height: 22px;
	color: #fff;
	font-weight: bold;
	background: #000;
}

.paging .on:hover {
	text-decoration: none;
}