@charset "UTF-8";

.headline-2 {
	font-size: 48px;
	line-height: .833333;
	font-family: "Nike Futura", "Helvetica Neue", Helvetica,
		"Spoqa Han Sans Neo", Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	margin-top: 10%;
}

.headline-2 {
	font-size: 72px;
	line-height: .833333;
}

.headline-3 {
	font-weight: 650;
	font-size: 24px;
	line-height: 1.166667;
}

.ta-sm-c {
	margin-top: 50px;
	text-align: center;
}

.summary {
	margin-bottom: 270px;
	text-align: center;
}