/* 전체 코드 */
* {
  font-family: "Noto Sans", sans-serif;
}
.text-black {
  color: black;
}
.text-black {
  color: black;
}
.logo {
  width: 7em;
}

/* header */
.nav-item.mr-2.ml-2 > a {
  text-decoration: none !important;
  color: black !important;
  font-size: 0.8em;
}
.navbar-nav.mr-3 {
  margin-top: 3px;
  margin-bottom: 3px;
}
.navbar-brand {
  margin-left: 2.5em;
}
.navbar .heart,
.navbar .shopping-cart {
  margin-left: 5px;
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.navbar .heart:hover,
.navbar .shopping-cart:hover {
  background: #e5e5e5;
  border-radius: 100%;
}

/* section */
section {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.info-section {
  display: flex;
  padding: 25px 15px 0 15px;
}
.info-section .images {
  display: flex;
  flex-wrap: wrap;
  width: 66.666666666666%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.info-section .images li {
  width: 50%;
}
.info-section .images li figure {
  padding: 20px 0;
  background: whitesmoke;
}
.info-section .images li:nth-child(2n-1) {
  padding-right: 8px;
}
.info-section .images li:nth-child(2n) {
  padding-left: 8px;
}
.info-section .images li:nth-child(5),
.info-section .images li:nth-child(6) {
  padding-bottom: 0;
}
.info-section .images li img {
  width: 100%;
}
.info-section .info {
  width: 33.333333333333%;
  text-align: center;
  line-height: 1.75;
  padding: 0 50px;
  padding-top: 200px;
}
.info-section .info h1 {
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.info-section .info h2 {
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.125;
}
.info-section .info h5 {
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
}
.info-section .info .txt {
  word-break: keep-all;
  word-wrap: break-word;
  font-size: 14px;
}
.info-section .info .select {
  position: relative;
}
.info-section .info .select-size {
  position: relative;
  width: 100%;
  cursor: pointer;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  color: #383838;
  padding: 14px 24px;
  box-sizing: border-box;
  text-align: center;
}
.info-section .info .select-size span {
  font-size: 14px;
}
.info-section .info .select-size i {
  position: absolute;
  top: 27px;
  right: 24px;
  font-size: 27px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: transform 0.25s ease-in-out 0s;
  -webkit-transition: transform 0.25s ease-in-out 0s;
}
.info-section .info .select-size.on i {
  transform: rotate(180deg) translateY(50%);
  -webkit-transform: rotate(180deg) translateY(50%);
  transition: transform 0.25s ease-in-out 0s;
  -webkit-transition: transform 0.25s ease-in-out 0s;
}
.info-section .info .select .lists {
  display: none;
  position: absolute;
  width: 100%;
  max-height: 180px;
  overflow: auto;
  border: 1px solid #d1d1d1;
  background: #ffffff;
  box-sizing: border-box;
  padding: 0;
}
.info-section .info .select .lists li {
  list-style: none;
  width: 100%;
  text-align: center;
  padding: 10px 8px;
  color: #383838;
  cursor: pointer;
}
.info-section .info .select .lists li:hover {
  background: #f7f7f7;
}
.info-section .info .select .lists li.checked {
  background: #39f;
}
.info-section .info .select .lists li.disabled {
  background: #ebebeb;
  color: #999;
  cursor: default;
}
.info-section .info .btn {
  width: 100%;
  margin: 20px 0 24px 0;
  padding: 18px 1.5em;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
  background: #000;
}
.info-section .info .btn.disable {
  background: #666;
}
.info-section .info .delivery {
  position: relative;
  display: flex;
  padding: 20px 0;
  padding-left: 100px;
}
.info-section .info .delivery .sameday {
  position: absolute;
  top: 10px;
  left: 0;
}
.info-section .info .delivery .sameday span {
  font-size: 12px;
  height: 16px;
  padding: 0 5px;
  line-height: 18px;
  background: #000;
  color: #fff;
  margin-left: 10px;
}
.info-section .info .delivery .detail-sameday {
  font-size: 13px;
  line-height: 13px;
  text-align: left;
}
.info-section .info .delivery .detail-sameday a {
  display: inline-block;
  font-size: 12px;
  color: #2e2e2e;
  margin-top: 8px;
  text-decoration: underline;
}
.img {
  margin-top: 30px;
}
.img img {
  width: 100%;
}
.prd-infomation {
  padding: 40px 20px;
  color: #8d8d8d;
  font-size: 12px;
  text-align: right;
}
.prd-infomation span {
  text-decoration: underline;
  cursor: pointer;
}

/* footer */
.footer-main-div {
  background-color: black;
  color: white;
  padding: 3em;
}
.footer-main-div .footer-info-div > strong {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 15px;
}
.footer-main-div .footer-info-div > strong > a {
  text-decoration: none;
  color: white;
}
.footer-contact-div > h5 {
  line-height: 1em;
}
.footer-contact-div > p {
  font-size: 14px;
  color: gray;
}
.footer-intro-div {
  margin-left: 1em;
  margin-right: 1em;
}
.footer-intro-div > p {
  font-size: 14px;
  color: gray;
}
.footer-intro-div > .group-intro-1 {
  line-height: 1px;
}

#scrollTop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 37px;
  z-index: 999;
  background: #ebebeb;
  border-radius: 50%;
}
#scrollTop a {
  font-size: 27px;
  display: block;
  color: #999;
}

/*211014 draw 수정*/
.bold {
  font-weight: 600;
  font-size: 13px;
  margin: 0;
}
.box {
  text-align: left;
  display: inline-block;
}
.detail {
  margin: 20px 0 20px 0;
}
.detail > p {
  width: 100%;
  margin-bottom: 0;
  font-size: 13px;
  display: flex;
}
.detail > p span:first-child {
  min-width: 111px;
}
