@charset "UTF-8";
/* sidebar */
.bg-gradient-primary {
	background-image: linear-gradient(180deg, #070707 10%, #000000 100%) !important;
	background-size: cover;
}

.btn-primary {
	border: 1px solid black !important;
}

/* section */
.nav-item.mr-2.ml-2>a {
	text-decoration: none !important;
	color: black !important;
	font-size: 0.8em;
}

.navbar-nav.mr-3 {
	margin-top: 3px;
	margin-bottom: 3px;
}

.navbar-brand {
	margin-left: 2.5em;
}

.list_address {
	display: block;
}

#content {
	margin-top: 30px;
}

.item-info {
	position: relative;
	border-bottom: 1px solid rgb(220, 220, 220);
	padding: 20px 0;
	width: 600px;
	line-height: 2.0;
}

.btnArea {
	position: absolute;
	left: 500px;
	bottom: 25px;
}

.eye {
	position: absolute !important;
	left: 450px !important;
}

.modifiedPwd {
	-webkit-text-security: disc;
}

.btn-primary {
	background-color: black !important;
	border: black;
}