@charset "UTF-8";

/* section */
section {
	padding-top: 120px;
	padding-bottom: 70px;
}

.section-main-div {
	width: 400px;
	margin-bottom: 5em;
	margin-left: auto;
	margin-right: auto;
}

.signup-text {
	text-align: center;
	font-weight: bold;
}

.logo-form {
	width: 200px;
	height: auto;
}

.id-result, .password-result, .name-result, .phone-result, .email-result
	{
	margin-top: 2px;
	font-size: 11px;
}

.indicator {
	text-align: center;
	color: gray;
}

.text-black {
	color: balck;
	font-weight: bold;
}

.code-send-btn {
	height: 38px !important;
	font-size: 15px !important;
}

.count-down {
	color: red;
	height: 38px;
	text-align: center;
	font-size: 15px;
	padding-top: 7px;
}