@charset "UTF-8";

/* section */
#scrollTop {
	display: none;
	position: fixed;
	bottom: 30px;
	right: 60px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 37px;
	z-index: 999;
	background: #ebebeb;
	border-radius: 50%;
}

#scrollTop a {
	font-size: 27px;
	display: block;
	color: #999;
}

section {
	padding-top: 120px;
	padding-bottom: 70px;
}

.section-main-div {
	width: 400px;
	margin-bottom: 5em;
	margin-left: auto;
	margin-right: auto;
}

.signup-text {
	text-align: center;
	font-weight: bold;
}

.logo-form {
	width: 200px;
	height: auto;
}

.id-result, .password-result, .name-result, .phone-result, .email-result
	{
	margin-top: 2px;
	font-size: 11px;
}

.indicator {
	text-align: center;
	color: gray;
}

.text-black {
	color: balck;
	font-weight: bold;
}

.code-send-btn {
	height: 38px;
	font-size: 15px;
}

.count-down {
	color: red;
	height: 38px;
	text-align: center;
	font-size: 15px;
	padding-top: 7px;
}