@charset "UTF-8";

.bg-gradient-primary {
	background-image: linear-gradient(180deg, #070707 10%, #000000 100%) !important;
	background-size: cover;
}

.realBonmun {
	background-color: rgb(245, 245, 245);
	height: auto !important;
	padding: 50px;
	text-align: justify;
	line-height: 2.0;
}

button {
	border-radius: 10px !important;
	display: block !important;
	margin: 20px auto !important;
}

h2 {
	margin-top: 30px;
}

#a1 {
	text-decoration: none;
	color: black;
}

.nav-item.mr-2.ml-2>a {
	text-decoration: none !important;
	color: black !important;
	font-size: 0.8em;
}

.navbar-nav.mr-3 {
	margin-top: 3px;
	margin-bottom: 3px;
}

.navbar-brand {
	margin-left: 2.5em;
}

tr:hover {
	background-color: darkgray;
}

.list_address {
	display: block;
}

#content {
	margin-top: 30px;
}

.item-info {
	position: relative;
}

.btnDiv {
	position: absolute;
	right: 30px;
	top: 30px;
}

.realBonmun {
	background-color: rgb(245, 245, 245);
	height: 500px;
	padding: 50px;
	text-align: justify;
	line-height: 2.0;
}

.btn-outline-secondary {
	border-radius: 10px !important;
	display: inline-block !important;
}