/* 전체 코드 */
* {
  font-family: "Noto Sans", sans-serif;
}
.text-black {
  color: black;
}
.text-black {
  color: black;
}
.logo {
  width: 7em;
}

/* header */
.nav-item.mr-2.ml-2 > a {
  text-decoration: none !important;
  color: black !important;
  font-size: 0.8em;
}
.navbar-nav.mr-3 {
  margin-top: 3px;
  margin-bottom: 3px;
}
.navbar-brand {
  margin-left: 2.5em;
}
.navbar .heart,
.navbar .shopping-cart {
  margin-left: 5px;
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.navbar .heart:hover,
.navbar .shopping-cart:hover {
  background: #e5e5e5;
  border-radius: 100%;
}

/*order by*/
.orderby {
  display: flex;
  justify-content: flex-end;
  padding: 15px 15px 0 0;
  color: rgba(0, 0, 0, 0.5);
}
.orderby span {
  padding-right: 10px;
  cursor: pointer;
}
.orderby select {
  border: 0;
  -webkit-appearance: none;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width:107px;
}
.orderby select option {
  border: none;
}
.orderby .select {
  position: relative;
}
.orderby .select::after {
  content: "\f078";
  font-family: FontAwesome;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 7px;
  top: 0;
  z-index: 1;
  width: 10%;
  height: 100%;
  pointer-events: none;
}

/* section */
.row {
  width: 100%;
  margin: 0;
}
.card {
  border: 0;
  cursor: pointer;
}
.shadow-sm {
  box-shadow: none !important;
}
.card-text {
  position: relative;
}
.card-text .none-hover {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 0;
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}
.card-text .none-hover .tit {
  font-size: 16px;
}
.card-text .none-hover .color {
  font-size: 24px;
  font-weight: 400;
}
.card-text .hover {
  opacity: 0;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.card-text .hover a {
  display: inline-block;
  padding: 8px 24px;
  border-radius: 20px;
  background: #111;
  color: #fff;
}
.card .stretched-link {
  display: none;
}
.card:hover img {
  opacity: 0.8;
  transition: opacity 0.25s ease 0s;
}
.card:hover .stretched-link {
  display: block;
}
.card:hover .card-text .none-hover {
  opacity: 0;
}
.card:hover .card-text .hover {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

/* paging */
.paging {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px;
}
.paging .hide {
  display: block;
  height: 0;
  width: 0;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.paging a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  padding-top: 2px;
  vertical-align: middle;
  color: #000;
}
.paging a:hover {
  text-decoration: underline;
}
.paging .btn_arr {
  text-decoration: none;
}
.paging .btn_arr {
  color: #444;
}
.paging .on {
  margin: 0 3px;
  padding-top: 0;
  border: 1px solid #ddd;
  border-radius: 30px;
}

.paging .on {
  height: 22px;
  color: #fff;
  font-weight: bold;
  background: #000;
}
.paging .on:hover {
  text-decoration: none;
}

/* 백그라운드일경우
  .paging .first{background-position:left top;}
  .paging .prev{background-position:-50px top;}
  .paging .next{background-position:-100px top;}
  .paging .last{background-position:-150px top;}*/

/* footer */
.footer-main-div {
  background-color: black;
  color: white;
  padding: 3em;
}
.footer-main-div .footer-info-div > strong {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 15px;
}
.footer-main-div .footer-info-div > strong > a {
  text-decoration: none;
  color: white;
}
.footer-contact-div > h5 {
  line-height: 1em;
}
.footer-contact-div > p {
  font-size: 14px;
  color: gray;
}
.footer-intro-div {
  margin-left: 1em;
  margin-right: 1em;
}
.footer-intro-div > p {
  font-size: 14px;
  color: gray;
}
.footer-intro-div > .group-intro-1 {
  line-height: 1px;
}

#scrollTop {
  display:none;
  position: fixed;
  bottom: 30px;
  right: 60px;
  width:40px;
  height:40px;
  text-align:center;
  line-height:37px;
  z-index: 999;
  background:#ebebeb;
  border-radius: 50%;
}
#scrollTop a {
  font-size:27px;
  display:block;
  color:#999;
}
